@mixin breakpoint($class) {
    @if $class == xs {
        @media (min-width: $xs) {
            @content;
        }
    } @else if $class == sm {
        @media (min-width: $sm) {
            @content;
        }
    } @else if $class == md {
        @media (min-width: $md) {
            @content;
        }
    } @else if $class == lg {
        @media (min-width: $lg) {
            @content;
        }
    } @else if $class == xl {
        @media (min-width: $xl) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
    }
}

.container {
    display: flex;
    margin: 20px auto;

    @include breakpoint(xs) {
        width: 100%;
    }

    @include breakpoint(sm) {
        width: $sm;
    }

    @include breakpoint(md) {
        width: $md;
    }

    @include breakpoint(lg) {
        width: $lg;
    }

    @include breakpoint(xl) {
        width: $xl;
    }
}

.container-fluid {
    display: flex;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
